/*structure*/
body {
    background:#cbe9fb;
    
}

#main-squared {
    width: 85%;
    margin: auto;
}

#main-title {
    margin-bottom: 0;
    padding-bottom: 0;
}
h3 {
    width: 70%;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
}


#assignment1, #assignment2, #assignment3 {
    background-color: #5789ff;
    margin: 10px;
    padding: 10px;
}


/*Navigation*/
#lists li {
    list-style-type: none;
}

#lists a {
    text-decoration: none;
    color:black;
}

#lists a:hover {
    color: #e37fbf;
    font-style: italic;
}

/*splitter*/

#title1::after {
    content: "\a";
    white-space: pre;
}



/*Typography*/
h1 {
    color: #343f61;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h2 {
    color:#dcf1eb;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

h3 {
    
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#main-main {
    text-align: center;
    color: #ecf8ff;
}

#link a {
    text-decoration: none;
    color:#dcf1eb;
}

#link a:hover {
    font-style: italic;
    
}


/*larger Resolutions*/

@media (min-width: 900px){
    .flex-box {
        display: flex;
    }

    .flex-box-top {
        display: flex;
        flex-direction: column;
    }

    .coll1of3, .coll2of3, .coll3of3 {
        flex: 1;
    }

    #title1::after {
        content: none;
    }

    #name {
        order: 1;
        width: 100%;
    }
    #main-title {
        order: 2;
    }
    #sub-title {
        order: 3;
    }


}




