/*structure*/
body {
    background:#cbe9fb;
    
}

#selection {
    margin: auto;
}

#main-squared {
    width: 85%;
    margin: auto;
}

#main-title {
    margin-bottom: 0;
    padding-bottom: 0;
}
h3 {
    width: 70%;
    margin: auto;
    margin-top: 0;
    padding-top: 0;
}


#assignment1, #assignment2, #assignment3, #assignment5, #assignment {
    background-color: #5789ff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}

#project, #project1 {
    background-color: #615ae0;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    
}



#assignment-selection, #project-selection {
    background-color: #4365ca;
    border-radius: 5px;
    margin: 20px;
    padding: 2px;
    
}

#direct {
    
}



/*Navigation*/
#lists li {
    list-style-type: none;
}

#lists a {
    text-decoration: none;
    color:black;
}

#lists a:hover {
    color: #e37fbf;
    font-style: italic;
}

/*splitter*/

#title1::after {
    content: "\a";
    white-space: pre;
}



/*Typography*/
h1 {
    color: #343f61;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

h2 {
    color:#1d2c58;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

#direct {
    background-color: #343f61;
    padding: 5px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.sub-title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#main-main {
    text-align: center;
    color: #ecf8ff;
}

#project-main {
    text-align: center;
    color: #e7daff;
}

#main-main #link a {
    text-decoration: none;
    color:#dcf1eb;
}

#project-main #link a {
    text-decoration: none;
    color:#d8b4f8;
}

#direct a {
    text-decoration: none;
    color: #8baaff;
}

#link a:hover {
    font-style: italic;
    
}

#direct a:hover {
    font-style: italic;
    color: #FF8BE4;
    border-bottom: 2px solid #CA43A8;

}

#line{
    background-color: #343f61;
    height: 10px;
}


/*larger Resolutions*/

@media (min-width: 900px){
    .flex-box {
        display: flex;
    }

    .flex-box-top {
        display: flex;
        flex-direction: column;
    }

    .coll1of3, .coll2of3, .coll3of3 {
        flex: 1;
    }

    .coll1of2, .coll2of2{
        flex: 1;
    }


    #title1::after {
        content: none;
    }

    #name {
        order: 1;
        width: 100%;
    }
    #main-title {
        order: 2;
    }
    #sub-title {
        order: 3;
    }


}




